extends /layouts/inner.pug
block title
  title= t('views.pages.users.title')

block main
  .container
    .row.justify-content-center
      .p-3
        h1= t('views.pages.users.header')
    .row.justify-content-center
      .col-10.shadow-sm.p-3.mb-5.bg-white.rounded
        .table-responsive-sm
          table.table
            thead
              tr
                th(scope="col-1")= t('views.pages.users.firstName')
                th(scope="col-1")= t('views.pages.users.lastName')
                th(scope="col-1")= t('views.pages.users.email')
                th(scope="col-1")
                th(scope="col-1")
            tbody
              each user in users
                tr
                  td= user.firstName
                  td= user.lastName
                  td= user.email
                  td.col-1
                    a(href=urlFor('editUser', { id: user.id }) class="btn btn-secondary")
                      = t('buttons.edit')
                  td.col-1
                    .d-flex.justify-content-end
                      button(class="btn btn-danger" data-toggle="modal" data-target=`#delete-${user.id}` value="Delete profile")= t('buttons.delete')
                      .modal.fade(id=`delete-${user.id}` tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true")
                        .modal-dialog(role="document")
                          .modal-content
                            .modal-body
                              h5= t('views.pages.users.warning')
                            .modal-footer
                              button(type="button" class="btn btn-secondary" data-dismiss="modal")= t('buttons.cancel')
                              a(href= urlFor('deleteUser', { id: user.id}) data-method="delete" class="btn btn-danger")= t('buttons.delete')