extends /layouts/inner.pug

block title
  title= t('views.pages.tasks.title')

block main
  .container  
    .row.justify-content-center
      .p-3
        h1= t('views.pages.tasks.header')
    .row.justify-content-center.mb-2
        a(class="btn btn-primary" href="/tasks/new")= t('views.pages.tasks.buttonCreate')
    .row.justify-content-center
      .col-10.shadow-sm.p-3.mb-2.bg-white.rounded
        form.form-inline(action="/filter" method="POST")
          .form-group.mr-4
            label.mr-2(for="my-tasks")= t('views.pages.tasks.filter.myTasks')
            input(type="checkbox" id="my-tasks" name="my-tasks")
          .form-group.mr-4
            label.mr-2(for="status-filter")= t('views.pages.tasks.status')
            select.custom-select(type="number" class="form-control" id="status-filter" name="status")
              each s in statuses
                option(value=s.id)= s.name
              option(value=null) none
          .form-group.mr-4
            label.mr-2(for="executor-filter")= t('views.pages.tasks.executor')
            select.custom-select(type="number" class="form-control" id="executor-filter" name="executor")
              each u in users
                option(value=u.id)= getUserName(u)
              option(value=null) none
          .form-group.mr-4
            label.mr-2(for="label-filter")= t('views.pages.tasks.label')
            select.custom-select(type="number" class="form-control" id="label-filter" name="label")
              each l in labels
                option(value=l.id)= l.name
              option(value=null) none
          input(type="submit" class="btn btn-primary mr-2" value= t('views.pages.tasks.filter.filter'))
          a(href="/filter" data-method="delete" class="btn btn-secondary mr-2" value="Cancel")= t('views.pages.tasks.filter.clear')
    .row.justify-content-center
      .col-10.shadow-sm.p-3.mb-5.bg-white.rounded
        .table-responsice-sm
          table.table
            thead
              tr
                th(scope="col")= t('views.pages.tasks.name')
                th(scope="col")= t('views.pages.tasks.description')
                th(scope="col")= t('views.pages.tasks.status')
                th(scope="col")= t('views.pages.tasks.creator')
                th(scope="col")= t('views.pages.tasks.executor')
                th(scope="col") Labels
                th(scope="col")
                th(scope="col")
              each task in tasks
                tr
                  td= task.name
                  td= task.description
                  td= task.statusName
                  td= `${task.creatorFirstName} ${task.creatorLastName}`
                  td= `${task.executorFirstName} ${task.executorLastName}`
                  td.d-flex.flex-wrap
                    each l in task.labels
                      .badge.badge-primary.text-wrap.m-1=l.name
                  td
                    a(href=`/tasks/edit/${task.id}` class="btn btn-secondary")
                      = t('buttons.edit')
                  td
                    a(href=`/tasks/${task.id}` data-method="delete" class="btn btn-danger")
                      = t('buttons.delete')