extends /layouts/inner.pug

block title
  title= t('views.pages.tasks.add.title')

block main
  .container
    .row.justify-content-center
      .p-3
        h1= t('views.pages.tasks.add.title')
    .row.justify-content-center
      .col-md-5
        .shadow-sm.p-3.mb-5.bg-white.rounded
          form(action= urlFor('addTask') method="POST")
            .form-group
              label(for="name")= t('views.pages.tasks.name')
              input(type="text" class="form-control" name="task[name]" id="name" value= task)
            .form-group
              label(for="status")= t('views.pages.tasks.status')
              select(class="form-control" id="statusId" name="task[statusId]")
                each status in statuses
                  option(value=status.id)=status.name
            .form-group
              label(for="assigned")= t('views.pages.tasks.executor')
              select(class="form-control" id="assigned" name='task[executorId]')
                each user in users
                  option(value=user.id)=`${user.firstName} ${user.lastName}`
            .form-group
              label(for="description")= t('views.pages.tasks.description')
              textarea(class="form-control" id="description" name="task[description]" rows="5" value= _.get(task, 'description', ''))
            
            .form-group
              label(for="labels")= t('views.pages.tasks.labels')
              select(class="form-control" id="labels" name="task[labels]" multiple)
                each label in labels
                  option(value=label.id)= label.name
            
            .form-group
              button(type="submit" class="btn btn-primary")= t('buttons.submit')
              a(class="ml-2 btn btn-secondary" href= urlFor('tasks') role="button")= t('buttons.cancel')
