extends /layouts/inner.pug

block title
  title New task

block main
  .container
    .row.justify-content-center
      .p-3
        h1 New task
    .row.justify-content-center
      .col-md-5
        .shadow-sm.p-3.mb-5.bg-white.rounded
          form(action="/tasks" method="POST")
            .form-group
              label(for="name") Name:
              input(type="text" class="form-control" name="name" id="name")
            .form-group
              label(for="status") Status:
              select(class="form-control" id="statusId" name="statusId")
                each status in statuses
                  option(value=status.id)=status.name
            .form-group
              label(for="assigned") Assigned to:
              select(class="form-control" id="assigned" name='executorId')
                each user in users
                  option(value=user.id)=`${user.firstName} ${user.lastName}`
            .form-group
              label(for="description") Description
              textarea(class="form-control" id="description" name="description" rows="5")
            
            .form-group.border.bg-light.p-1
              label(for="labels") Labels
              select(class="form-control" id="labels" name="labels" multiple)
                each label in labels
                  option(value=label.id)= label.name
            
            .form-group
              button(type="submit" class="btn btn-primary") Submit
              a(class="ml-2 btn btn-secondary" href="/tasks" role="button") Cancel
